.big-header {
    height: 12vh;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;

    background-color: transparent;
    color: var(--white);
    font-family: 'Antic Didone', serif;
    transition: background-color 0.5s ease, color 0.5s ease, height 1s ease;
}

.big-header--hamburger__wrapper {
    width: 15%;
}

.big-header__hamburger {
    position: relative;
    left: 8em;

    background-color: transparent;
    border: none;
}

.big-header__hamburger:hover {
    cursor: pointer;
}

.big-header__logo {
    width: calc(70% - 60px);
    position: relative;
    top: 0.5em;

    display: flex;
    flex-direction: column;
    align-items: center;

    transition: font-size 1s ease;
}

.big-header__logo h1 {
    margin: 0;
    font-size: 1.9em;
}

.big-header__logo p {
    margin-top: 0.6em;
    font-weight: 900;
}

.big-header--book-button__wrapper {
    width: 15%;
}

.big-header--expanded {
    height: 18vh;

    background-color: var(--white);
    border-bottom: solid 1px var(--black);
    color: var(--black);

    transition: background-color 0.5s ease, color 0.5s ease, height 1s ease;
}

.big-header--expanded .big-header__logo {
    font-size: 1.2em;

    transition: font-size 1s ease;
}

.big-header--expanded .big-header__hamburger,
.big-header--scrolled .big-header__logo h1,
.big-header--scrolled .big-header__logo p {
    color: var(--black);
}

.big-header--expanded .button-primary__wrapper {
    background-color: var(--beige);
    transition: background-color 0.5s ease;
  }

.big-header--expanded .button-primary {
    background-color: var(--beige);
    color: var(--white);

    transition: background-color 0.5s ease, color 0.5s ease;
}

.big-header--shrank {
    height: 12vh;
    background-color: var(--white);
    color: var(--black);
    transition: color 1s ease, background-color 1s ease, height 1s ease;

    border-bottom: solid 1px var(--black);
}

.big-header--shrank .big-header__logo {
    transition: font-size 1s ease;
}

.big-header--shrank .button-primary__wrapper {
    background-color: var(--beige);
    transition: background-color 0.5s ease;
}

.big-header--shrank .button-primary {
    background-color: var(--beige);
    color: var(--white);

    transition: background-color 0.5s ease, color 0.5s ease;
}

.big-header--reached-gallery {
    background-color: var(--black);
    color: var(--white);

    transition: color 1s ease, background-color 1s ease;
}
