.kyoto-gallery {
    height: 352vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--white);
    color: var(--black);
    transition: background-color 0.5s ease, color 0.5s ease;
}

.kyoto-gallery__title {
    height: 1.5em;
    box-sizing: border-box;

    margin-top: 1.5em;
    margin-bottom: 0.8em;

    font-size: 3em;
    font-family: var(--font-main-english);
}

.kyoto-gallery--scrolled {
    background-color: var(--black);
    color: var(--white);
    transition: background-color 0.5s ease, color 0.5s ease;
}

.kyoto-gallery__media__container {
    width: 90%;
    height: calc(100% - 15em);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.kyoto-gallery__video {
    height: calc(100% * 1/6);
    width: 100%;

    object-fit: cover;
    object-position: center;
}

.kyoto-gallery__images-row-1 {
    height: calc(100% * 4/7);
    width: 100%;

    box-sizing: border-box;
    padding: 2em 0;
    display: flex;
}

.kyoto-gallery__images-column-1 {
    width: 30%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.kyoto-gallery__images-column-1__image-1 {
    height: calc(55% - 1em);
    margin-bottom: 2em;

    object-fit: cover;
    object-position: center;
}

.kyoto-gallery__images-column-1__image-2 {
    height: calc(45% - 1em);

    object-fit: cover;
    object-position: center;
}

.kyoto-gallery__images-column-2 {
    width: calc(70% - 2em);
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2em;
}

.kyoto-gallery__images-column-2__image-1 {
    height: calc(45% - 1em);
    margin-bottom: 2em;

    object-fit: cover;
    object-position: center;
}

.kyoto-gallery__images-column-2__image-2 {
    height: calc(55% - 1em);

    object-fit: cover;
    object-position: center;
}

.kyoto-gallery__images-row-2 {
    height: calc(100% * 5.5/30 - 2em);
    width: 100%;

    margin-bottom: 2em;
}

.kyoto-gallery__images-row-2__image-1 {
    height: 100%;
    width: 100%;

    object-fit: cover;
    object-position: center;
}

.kyoto-gallery__images-row-3 {
    height: calc(100% * 16.5/210);

    display: flex;
}

.kyoto-gallery__images-row-3__image-1 {
    width: calc(100% * 1/3 - 2em);
    margin-right: 2em;

    object-fit: cover;
    object-position: center;
}

.kyoto-gallery__images-row-3__image-2 {
    width: calc(100% * 1/3);

    object-fit: cover;
    object-position: center;
}

.kyoto-gallery__images-row-3__image-3 {
    width: calc(100% * 1/3 - 2em);
    margin-left: 2em;

    object-fit: cover;
    object-position: center;
}

