.kyoto-hero {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kyoto-hero__image {
    position: absolute;
    inset: 0;
    z-index: -1;
    background-size: cover;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.kyoto-hero__image--visible {
    opacity: 1;
}

.kyoto-hero__title-container {
    text-align: center;
    color: var(--white);
}

.kyoto-hero__title {
    margin-bottom: 0.4em;
    font-family: var(--font-japanese);
}

.kyoto-hero__title--japanese {
    font-size: 6em;
}

.kyoto-hero__title--english {
    margin-top: 0;
    font-size: 3em;
    font-family: var(--font-main-english);
}

.kyoto-hero__scroll-indicator {
    position: absolute;
    bottom: 0;
    font-size: 4em;
    color: var(--white);
}

@media (max-width: 425px) {
    .hero__title--japanese {
        font-size: 5em;
    }

    .hero__title--english {
        font-size: 2em;
    }

    .hero__scroll-indicator {
        font-size: 3em;
    }
}
